#header {
  height: 175px;
  background: #81A594;
}

#title{
position:relative;
font-family: 'Dosis', sans-serif;
color:#E6E6DC;
font-size:175%;
font-weight:700;
top:-10px;
}

.logo img{
  position:relative;
height:175px;
float:right;
}

.wrap{
    float:right;
    text-align:center;
    position:relative;
    margin:0 auto;

    width:725px;
    height:100%;


}

