<h1 align="center"> MAKIN A SURVEY </h1>

<form class='of-everything-ever' action='/surveys/create' method="POST">

  <div class="questions-container">
  <p>Survey Title:
  <input type='text' name="title" placeholder="please type in me"></p>
  </div>



  <a href='#' class="add_question btn">DO SUMPTIN CRAY</a>
  <br>
  <br>

  <input  style="background:red" type="submit" value="Ready to annoy your friends and everyone else in the world?">

</form>


