<div class="new_survey_container">
    <p id='text_title'> Create Survey </p>
    <div class='surveybox'>
      <form class='submit_survey' action='/surveys/create' method="POST">
        <div class="questions-container">
        <p>Survey Title:
        <input type='text' name="title" placeholder="please type in me"></p>
        </div>
        <a href='#' class="add_question btn">Add Question</a>
        <input  type="submit" value="Create">
      </form>
    </div>
</div>


