<div class="main">
  <h3>Input information you would like to update</h3>
  <form action="/users/<%=@user.id%>" method="post">
  	<input type="hidden" name="_method" value="put">
  	Username<input type="text" name="edit[name]">
  	Email<input type="text" name="edit[email]">
  	Password<input type="text" name="edit[password]">
  	Password Confirmation<input type="text" name="edit[password_confirmation]">
  	<input type="submit">
  </form>
</div>