


<div class="edit_user">
  <p class='edit_title'>Here's to a new you!</h3>
  <form action="/users/<%=@user.id%>" method="post">
  	<input type="hidden" name="_method" value="put">
  	Username<input type="text" name="edit[name]">
  	Email<input type="text" name="edit[email]">
  	Password<input type="text" name="edit[password]">
  	Password Confirmation<input type="text" name="edit[password_confirmation]">
  	<input class="edit_button" type="submit">
  </form>
</div>