<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->

  <link rel="stylesheet" href="/css/normalize.css">

  <!--
    application.css is where you put your styles
  -->


  <link href='http://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href="/css/user_show.css">
  <link rel='stylesheet' href="/css/headerstyling.css">
  <link rel='stylesheet' href="/css/all_surveys_page.css">
  <link rel='stylesheet' href="/css/survey_page.css">
  <link rel="stylesheet" type="text/css" href="/css/auth.css">
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <title></title>
</head>
<body style="background-color:#E6E6DC">
   <div id="header">
        <%if current_user %>
        <div class="logged_in_nav">
          <a href="/surveys">See all Surveys</a>
          <a href="/users/<%=current_user.id%>">Go to Profile</a>
          <a href="/logout">Logout</a>
        </div>
        <%end%>
          <div class="wrap">
               <div class="logo">
                <img src='http://i62.tinypic.com/2gujdk4.gif'>
               </div>
               <p id="title">Survey Australopithecus Afarensis</p>
          </div>
     </div>
     <div class="headerliner1">
     </div>
     <div class="headerliner2">
     </div>
<div id="content">
  <%= yield %>
</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
