
<div class='auth_form'>

  <div class='login_form'>
    <form action='/login' mehtod='POST'>
      <input type='text' name='user[email]' placeholder='enter email'>
      <input type='text' name='user[password_digest]' placeholder='enter password'>
      <input type='submit' value='LOGIN'>
    </form>
  </div>

  <div class='signup_form'>>
    <form action='/signup' method='POST'>
      <input type='text' name='user[name]' placeholder='enter name'>
      <input type='text' name='user[email]' placeholder='enter email'>
      <input type='password' name='user[password]' placeholder='enter password'>
      <input type='password' name='user[password_confirmation]' placeholder='confirm password'>
      <input type='submit' value='SIGNUP'>
    </form>
  </div>

</div>
