
<div class='auth_form'>

  <div class='signup_form'>
    <form id='signup_ajax' action='/signup' method='POST'>
      <input type='text' name='user[name]' placeholder='enter name'>
      <input type='text' name='user[email]' placeholder='enter email'>
      <input type='password' name='user[password]' placeholder='enter password'>
      <input type='password' name='user[password_confirmation]' placeholder='confirm password'>
      <input type='submit' value='SIGNUP'>
    </form>
  </div>

</div>
