<div class='all_surveys'>

  <a href="/surveys/new"><input class="first_button" type="button" value='Create Survey'></a>
  <p id="all_surveys_title">All Surveys</p>

  <div class="surveyslist">
  	<% @surveys.each do |survey| %>
  	    <ul>
  	      <li><a href="/surveys/<%= survey.id %>">>> <%= survey.title%></a></li>
  	      <div>By: <%=survey.user.name%></div>
  	    </ul>
  	<%end%>
  </div>

</div>