<h1 align=center> Welcome to the survey </h1>
<a href="/surveys/new"><input class="first_button" type="button" value='Create new survey!'></a>
<a href="/users/<%=current_user.id%>"><input class="btn" type="button" value='Profile'></a>
<br>
<br>

<br>
<h3 align=center>Surveys</h3>
<hr>

<div>
	<% @surveys.each do |survey| %>
	    <ul>
	      <li><a href="/surveys/<%= survey.id %>"><%= survey.title%></a></li>
	      <p>By: <%=survey.user.name%></p>
	    </ul>
	<%end%>
</div>