


<h1 align=center > Welcome to the survey </h1>
<a href="/surveys/new"><input class="first_button" type ="button" value='create new survey!'></a>
<a href="/users/<%=current_user.id%>">Profile</a>
<br>
<br>


<br>
<h3 align=center> Survey Lists</h3>
<hr>

<% @surveys.each do |survey| %>
<a href="/surveys/<%= survey.id %>">
  <div>
    <ul>
      <li><%= survey.title%></li>
    </ul>
  </div>
</a>
<%end%>

