<div class="main">
  <div class='welcome'>
  	<h1>Hello <%= @user.name %></h1>
  	<p>Options:</p>
  	<a href="/users/<%=@user.id%>/edit" class="btn">Edit Profile</a>
  	<a href="/users/<%=@user.id%>/delete" class="btn">Delete Account</a>
  </div>
  <div class='surveys'>
  	<%= erb :_user_surveys %>
  </div>
</div>