

<div class='container'>
  <h2>WELCOME TO SURVEY MONKEY...</h2>
  <h6>As seen by Chris, Dongchul, Kenn, and Missy</h6>

  <%if current_user %>
    <a href="/logout">LOGOUT</a>
  <%else%>
    <a id="login_btn" href="/login">Login</a>
    <%= erb :login %>
    <a href="/signup">Signup</a>
  <%end%>

</div>



